.banner {
  outline: none;
  width: 1208px;
  display: block;
  float: left;
  min-height: 1px;
  border-radius: 20px;
  overflow: hidden;
}
.banner-content {
  width: 100%;
  display: inline-block;
}
.banner-body {
  background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
  width: 100%;
  display: flex;
}

.banner-body-right {
  display: flex;
  flex: 3 1;
  justify-content: flex-end;
  max-height: 258px;
  a {
    img {
      display: block;
      object-fit: cover;
    }
  }
}
.banner-body-left {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 1.6rem;
  justify-content: center;
  line-height: 1.6;
  max-width: 100%;
  padding: 0 36px 36px;
  width: 640px;
  .banner-heading {
    a {
      color: white;
    }
    margin-bottom: 8px;
    font-weight: 600;
  }
  .banner-desc {
    margin-bottom: 24px;
    margin-top: 0;
    max-width: 600px;
  }
  .banner-btn {
    border: 2px solid #fff;
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    min-width: 124px;
    padding: 4px 10px;
    text-align: center;
    transition: 0.2s ease;
  }
}

